.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.3); /* transparente */
  backdrop-filter: blur(8px);
}

.navbar-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  height: 60px; /* aquí ajustas el tamaño del logo */
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #a6e22e; /* verde selva */
}
